<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body >
<!--background="images\backgroundSite.jpg-->
<div id="container">
<form action="" method="post">
    <div id="logo_searchline_wrapper">
        <div>
            <img id="logo" src="images\logo.jpg">
        </div>

        <div class="inline_display">
            <input id="searchLine" class="typeahead" name="search" type="search" placeholder="What do you want to cook today?" />
            <input type="submit" value="Cook It" />
        </div>
    </div>
</form>
<div class="result-box item">
    <div class="box-img">
    {{#each arrayDataResult}}
        <div class="square_recipe" >
            <div class="recipe-title">
                <a id="linkResult" target="_blank" href="{{this.[1]}}"> <img src={{this.[2]}}>  </a>
                <h3> <a href="{{this.[1]}}">{{this.[0]}}</a> </h3>
                <p class="title-groceries">מצרכים</p>
                {{#each this.[3]}}
                    <ul>
                        <li>{{this}}</li>
                    </ul>
                {{/each}}
                <a id="text-box"href="http://www.mysupermarket.co.il/%D7%A2%D7%9B%D7%A9%D7%99%D7%95_%D7%91%D7%96%D7%95%D7%9C/%D7%9E%D7%93%D7%A3">הזמנת מוצרים חסרים אונליין</a>
            </div>

        </div>
    {{/each}}
 </div>   <!--box-img-->

</div><!--result-box item-->


</div> <!-- End container-->

<script type="application/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="application/javascript" src="js/typeahead.bundle.js"></script>

<script src="js/autocomplete.js"></script>

</body>
</html>