<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body >
<div id="container">
<form action="" id="theForm" method="post">
    <div id="logo_searchline_wrapper">
        <div>
      <a href="http://www.cookit.co.il"><img id="logo" src="images\logo.jpg"></a>
        </div>

        <div class="inline_display">
            <input id="searchLine" title="להוספת/הורדת רכיב בודד ממתכון הוסף +/-" class="typeahead" type="search" autofocus="autofocus"  value="{{searchString}}"  dir="rtl"  name="search"  placeholder="מה תרצו להכין היום? " />
            <input type="submit" title="להוספת/הורדת רכיב בודד ממתכון הוסף +/-" name="theForm" id="cookItButton" value="Cook It" />

        </div>
    </div>
</form>

<div class="result-box">

    {{#each arrayDataResult}}
        <div class="square-recipe" >
            <div class="recipe-image">
                <a id="linkResult" target="_blank" href="{{this.[1]}}"> <img id="imgRecipe"src={{this.[2]}}>  </a>
            </div>

            <div class="box-entry">
                <h2><a target="_blank" href="{{this.[1]}}">{{this.[0]}}</a></h2>
                <!--<div class="rating rate-4"> </div>-->

                <h3 class="tahomaFont_center inline_block_display">מצרכים</h3>

                {{#each this.[3]}}
                    <p class="tahomaFont_center">{{this}}</p><img id="ingredientImg" src="images/{{this}}.jpg">

                {{/each}}

            </div>

            <div class="box-footer">
                 <h2 class="tahomaFont_center"> {{this.[4]}} </h2>
            </div>
        </div>

        {{/each}}

    </div><!--result-box item-->


</div> <!-- End container-->


<script type="application/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="application/javascript" src="js/typeahead.bundle.js"></script>
<script src="js/autocomplete.js"></script>

<script>
    $('#searchLine').keypress(function(event){
        var code = event.keyCode || event.which;
        console.log('key up',code);
        // block from number(49-57) & english letters & signs
        if (code >= 46 && code <= 122){
            alert("ניתן לחפש בעברית בלבד!");
            event.preventDefault();
        }
    });
</script>



</body>
</html>

