<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body  >
<!--background="images\backgroundSite.jpg"-->
<div id="container">
<form action="" method="post">
    <div id="logo_searchline_wrapper">
        <div>
      <a href ="http://localhost:3000/" > <img id="logo" src="images\logo.jpg"> </a>
        </div>

        <div class="inline_display">
            <input id="searchLine" class="typeahead" type="search" autofocus="autofocus" action="createString.js" dir="rtl"  name="search"  placeholder="What do you want to cook today?" />
            <input type="submit" value="Cook It" />
        </div>
    </div>
</form>
<div class="result-box item">

    {{#each arrayDataResult}}
        <div class="square-recipe" >
            <div class="recipe-image">
                <a id="linkResult" target="_blank" href="{{this.[1]}}"> <img id="imgRecipe"src={{this.[2]}}>  </a>
            </div>

            <div class="box-entry">
                <h2><a href="{{this.[1]}}">{{this.[0]}}</a></h2>
                <div class="rating rate-4"> </div>

                <h3 class="tahomaFont_center inline_block_display">מצרכים</h3>

                {{#each this.[3]}}
                    <p class="tahomaFont_center">{{this}}</p><img id="ingredientImg" src="images/{{this}}.jpg">

                {{/each}}

            </div>

            <div class="box-footer">
                 <h2 class="tahomaFont_center"> {{this.[4]}} </h2>
            </div>
        </div>

        {{/each}}

    </div><!--result-box item-->


</div> <!-- End container-->

<script type="application/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="application/javascript" src="js/typeahead.bundle.js"></script>

<script src="js/autocomplete.js"></script>

</body>
</html>

