<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>

<div id="container">

<form action="" method="post">
    <div id="logo_searchline_wrapper">
        <div>
            <img id="logo" src="images\logo.jpg">
        </div>

        <div class="inline_display">
            <input id="searchLine" class="typeahead" name="search" type="search" placeholder="What do you want to cook today?" />
            <input type="submit" value="Cook It" />
        </div>
    </div>
</form>

<div id="recipes_results_wrapper">
    {{#each arrayDataResult}}

        <div class="square_recipe" >
            <div class="recipe-title">
                <a id="linkResult" target="_blank" href="{{this.[1]}}"> {{this.[0]}} </a>
                <p class="title-groceries">מצרכים</p>
                {{#each this.[3]}}
                    <ul>
                        <li>{{this}}</li>
                    </ul>
                {{/each}}

            </div>
            <div class="recipe-image inline_block_display">
                <img src={{this.[2]}}>
            </div>
        </div>
    {{/each}}

</div><!--End recipes_results_wrapper-->

</div> <!-- End container-->

<script type="application/javascript" src="js/jquery-1.12.4.min.js"></script>
<script type="application/javascript" src="js/typeahead.bundle.js"></script>

<script src="js/autocomplete.js"></script>

</body>
</html>