<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/searchResults.css">
</head>

<body dir="rtl">
    <div id="container">

        <div id="logo_searchline_wrapper">

            <div class="inline_display">
                <img id="logo" src="images\logo.jpg">
            </div>

            <div class="inline_display">
                <input id="searchLine" name="search" type="search" />
                <input id="searchBottom" type="submit" value="Cook It" />
            </div>

        </div> <!--End logo_searchline_wrapper-->

        <div id="recipes_results_wrapper">
            {{#each arrayDataResult}}

                <div class="square_recipe" >
                    <div class="recipe-title">
                        <a id="linkResult" target="_blank" href="{{this.[1]}}"> {{this.[0]}} </a>
                        <p class="title-groceries">מצרכים</p>
                        {{#each this.[3]}}
                                <ul>
                                    <li>{{this}}</li>
                                </ul>
                        {{/each}}

                    </div>
                    <div class="recipe-image inline_block_display">
                        <img src={{this.[2]}}>
                    </div>
                </div>
            {{/each}}

        </div><!--End recipes_results_wrapper-->
    </div> <!-- End container -->

</body>
</html>
